title{
  color: green;
}

header{
  background: gold;
  border: ridge gold;
  border-radius: 13em/3em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: url(wp12326434.webp);

}
body{
  background-color: black;
  background: url(d184594cc3aa95e29b6105c5448a1a01.jpg);
  background-size: 100%;
}

.homeimg{
  
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 3%;
}

h3{
  color: white;
  padding: 30px;
  display: inline;
  text-decoration: none;

}

.homeimg{
  padding: 0px;
}




.photo{
  text-align: center;
  border-right: round;
  margin-top: 10%;
  border-radius: 120px 20px 120px 20px;
  margin-left: 20%;
  
}

.homebox{
  /* background: url(pexels-francesco-ungaro-998641.jpg ); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.gokul{
  display: flex;
  flex-direction: column;
}

.hello{
  
  color:gold;
  font-size: 200%;
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  padding-left: 3%;
  padding-top: 3%;
  text-align: left;
}

.about{
  background-color: black;
  color: whitesmoke;
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 2%;
  border-radius: 10%;

}
.name{
  text-align: center;
  color:gold;
  font-size: 400%;
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 300%;
  
  
}
.linkedin{
  width: 14%;
  margin-left: 43%;
  margin-right: 43%;
  display: inline-block;
  background-color: black;
}
.educationbox{
  /* background: url(32.03b5a1c2ac384040f5a1c792a836a15673cf8be7bc2f45428ea53a7ddc4e0aa1987b.); */
  background-repeat: no-repeat;
  background-size: 100% 100% ;
}
.edtitle{
  color: rgb(0, 190, 238);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 2%;
  padding-left: 2%;
  font-size: 135%;
  text-decoration: dotted;
}

.logo{
  text-align: left;
  border-radius: 50%;
  width: 15%;
  margin: 2%;
}
.box{
  display: flex;
  flex-direction: row;
  padding-top: 3%;
  margin-bottom: 10%;
}
.abt{
  color: aliceblue;
  /* width: 150%; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-around; */
  

  
  /* border-top-left-radius: 200%;
  border-bottom-left-radius: 200%;
  border-top-right-radius: 200%;
  border-bottom-right-radius: 200%; */
  /* margin: 3%; */
  /* margin: auto;
   */
   background: url(ffff.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-color: black;
  color: whitesmoke;
  /* background-color: rgba(28, 73, 77, 0.76); */
  margin-left: 0%;
  margin-top: 3%;
  width: fit-content;
  border-radius: 86% 14% 16% 83% / 54% 16% 83% 45% ;
  padding: 5%;
  padding-left: 36%;
}

.asslc{
  
  font-family: Arial, Helvetica, sans-serif;
  margin: 6%;
  margin-left: 0%;
}
.cname{
  font-size:150%;

}

.projectsbox{
  /* background: url(4k-phone-background-blue-stars-in-space-o6jc5dh5iubz5h5m.jpg); */
  /* background-repeat: no-repeat; */
  background-size: 100%;
}
.ptitle{
  color: rgb(0, 190, 238);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 /* margin: 15%; */
 padding-left: 3%;
 padding-top: 2%;
  font-size: 250%;
  text-decoration: dotted;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
/* .p{
  display: flex;
  flex-direction: row;
  margin: 5%;
   */

.pp{

  border-radius: 50px;
  width: 50%;
}
/* .pt{
  display: flex;
  flex-direction:column;
  align-items: center;

} */
.p{
 display: flex;
  flex-direction:column;
  align-items: center;
}

.t{
  color: rgb(255, 251, 4);
}
.pabt{
  /* margin-left: 15%; */
  margin-bottom: 15%;
  /* display: inline-block; */
  /* background-color: rgba(63, 61, 172, 0.616); */
  background: url(14b85bc4aefbbc7cdc88779ab6b9be2f.jpg);
  background-repeat:no-repeat;
  background-size: 100%;
  padding: 0%;
  margin-top: 5%;
  border-radius: 50px;
  font-size: x-large;
  color: rgb(255, 251, 251);
  width: fit-content;
  text-align: center;
  padding: 3%;
  
  
}
.visitsat{
  text-align: center;
  color: cornflowerblue;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0%;
  background-color: black;
  background: url(521089.jpg);
  padding-left: 1%;
  padding-right: 1%;
}
.pt{
  margin-left:0%;
}

.p3t{
  margin-left: 30%;
  margin-right: 30%;
} */
.p5abt{
  margin-bottom: 3%;
}
.skillbox{
  /* background: url(desktop-wallpaper-vertical-cool-portrait-thumbnail.jpg); */
  /* background-repeat: no-repeat; */
  background-size: 100%;
}
.stitle{
  color: rgb(0, 190, 238);
  padding: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.abtskill{
  font-size: x-large;

}
.skills{
 /* display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: space-around;
  padding: 0%;
  align-items: center; */
  margin: auto;
}
.lpara{
  display:inline-block;
  background-color: black;

  /* background-repeat: no-repeat; */
  background-size: 100%;
  border-radius: 20%;
  color: rgb(255, 255, 255);
  margin-bottom: 0%;
  margin-top: 0%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.l{
  
  /* width: fit-content; */
  
  /* background-color: rgba(255, 127, 80, 0.452); */
  
  color: rgb(0, 255, 21);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0%;
  
  /* margin-left: 20%; */
  background-color: rgba(5, 5, 4, 0.404);
  width: fit-content;
border-radius: 10%;
justify-content: space-between;

}
.emj{
  color: deeppink;
}
.lk{
  color: rgb(214, 218, 7);
}
.contactbox{
  /* background: url(360_F_191783282_0TVrx5VrvrkpDHSKdjjI87HkbXJy5TMw.jpg); */
  background-repeat: no-repeat;
  background-size: 100%;
}
.ctitle{
  color: rgb(0, 190, 238);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 /* margin: 15%; */
 padding-left: 1%;
 /* padding-top: 2%; */
  font-size: 300%;
  text-decoration: dotted;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  text-align: center;
}
.oc{
  display: flex;
  flex-direction: column;
  font-size: 200%;
  color: aliceblue;
  justify-content: space-around;
  background-color:rgba(0, 0, 0, 0.527);
 
  
}
.phone{
  margin-top: 2%;
  margin-bottom: 2%;
  width: fit-content;
}
.personalm{
  margin-top: 2%;
  margin-bottom: 2%;
  width: fit-content;

}
.companym{
  margin-top: 2%;
  margin-bottom: 8%;
  width: fit-content;
}

.icon{
display: flex;
flex-direction: row;
justify-content: space-around;
/* align-items: center; */
margin-top: 0%;
margin-left: 1%;
margin-bottom: 12%;
background-color: rgba(0, 0, 0, 0.37);
border-color: rgb(255, 140, 0);
border-radius: 50px;
border: gold;
}
footer{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}
/* Add these styles to your existing CSS file */
.animated-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.animated-element.show {
  opacity: 1;
  transform: translateY(0);
}


